h1{
    color:blue;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    background-color: blue;
    padding: 5px;
    margin-left: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
td, th{
    border: 2px solid black;
}
#lorem{
    font-weight: 400;
    background-color: blue;
    font-size: 20px;
    width: 300px;
    height: min-content;
    padding: 10px;
    border: 2px solid black;
}